<!DOCTYPE html>
<head>
    <title>AT Connections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../Styling/ConnectionsStyling.css">
    <link rel="stylesheet" href="../Styling/GameContentStyling.css">
    <link rel="stylesheet" href="../Styling/ResultsScreen.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script defer type="module" src="../public/Connections.js"></script>
    <script>
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const date = new Date();
        var month = months[date.getMonth()];
        var day = date.getDate();
        var year = date.getFullYear();
        const currentDate = month + " " + day + ", " + year;
        window.onload = () => {
            document.getElementById("CurrDate").innerHTML = currentDate;
        }
    </script>
</head>
<body>
    <!-- Connections Header -->
    <hr>
    <div id="GameTitleHeader">
        <p id="TitleText"><b>Connections</b></p>
        <p id="CurrDate"></p>
    </div>
    <!-- Content Area -->
    <div id="GameContent">
        <!-- Play Button screen -->
        <div id="GameTitleScreen">
            <p id="GameContentTitle"><b>Connections</b></p>
            <p>Group words that share a common thread.</p>
            <select id="DifficultySelection" class="form-select" style="width: 30vw; margin: 0 auto;">
                <option class="Difficulty" id="Default" value="Default">Today's Connection</option>
                <option class="Difficulty" id="EasyChoice" value="Easy">Easy</option>
                <option class="Difficulty" id="MediumChoice" value="Medium">Medium</option> 
                <option class="Difficulty" id="HardChoice" value="Hard">Hard</option>
            </select>
            <select id="GameNumberSelection" class="form-select" style="display: none;">
                <!-- Dynamically add options for each possible game -->
            </select>
            <br>
            <input type="button" id="button_playButton" value="Play">
        </div>
        
        <!-- Game Content Screen -->
        <div id="GameContainer">
        </div>
        <div style="display: none;" id="livesSection"></div>
        <div id="userControlsContainer">
            <input type="button" value="Shuffle" id="ShuffleButton" class="btn btn-light">
            <input type="button" value="Deselect-all" id="DeselectButton" class="btn btn-light">
            <input type="button" value="Submit" id="SubmitButton" class="btn btn-light">
        </div>
        <input class="btn btn-light" style="display: none; width: fit-content;" type="button" value="Show Results" id="ShowResultsButton">
        </div>
    <!-- Results Screen -->
    <div id="ResultsContainer" style="display: none;">
        <input type="button" value="&#x2716;" id="CloseResults">
        <h3 id="EndGameMessage"></h3>
        <span id="GameTimer"></span>
        <input type="button" style="display: none; margin: 0 auto; " value="Try Again" id="TryAgainButton">
        <div id="GuessHistoryContainer">
        </div>
        
    </div>
    <!-- Footer Area -->
    
</body>