<!DOCTYPE html>
<html>
    <head>
        <title>AT Wordle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../Styling/WordleStart.css">
        <link rel="stylesheet" href="../Styling/WorldGame.css">
        <script type="text/javascript" src="../public/Date.js"></script>
        <script defer type="text/javascript" src="../public/Wordle.js"></script>
    </head>
    <body>
        <div id="GameContent">
            <!-- Start Screen -->
            <div id="StartScreen">
                
                <h1>Wordle</h1>
                <p>Get 6 chances to guess a 5-letter word.</p>
                <input id="PlayButton" value="Play" type="button">
                <br>
                <p id="DateSpan"></p>
                <p>Edited by Alex T.</p>
            </div>
            <!-- Game Content Area -->
            <div id="GameArea" style="display: none;">
                <div id="Header">
                    <br>
                    <h1>AT Wordle</h1>
                    <hr>
                    <br>
                </div>
                <div id="GameContainer">
                    <div id="GameGridContainer">
                    </div>
                    <div id="KeyboardContainer">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>