#ResultsContainer {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 40%;
    padding: 0 5vw;
    height: auto;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 10vh;
    z-index: 10;
    opacity: 100%;
    background-color: rgb(255, 167, 116);
    text-align: center;
    border-radius: 6px;
    overflow: scroll;
}

#CloseResults {
    all: unset;
    font: normal 1em/1 Arial, sans-serif;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}
#EndGameMessage {
    font-size: 25px;
    text-align: center;
}

#GameTimer {
    font-size: 25px;
}
#GuessHistoryContainer {
    margin: 3% auto;
}

.ResultsRow{
    margin: 1px auto;
    display: flex;
    width: 45%;
    /* border: 1px solid black; */
    justify-content: center;
}

.ResultBlock {
    height: 30px;
    width: 30px;
    margin: 2px;
}

