#ResultsContainer {
    margin: 10vh auto;
    border: 1px solid blue;
    width: 70%;
    height: 100%;
}

.ResultsRow{
    margin: 5px auto;
    display: flex;
    width: 40%;
    /* border: 1px solid black; */
    justify-content: center;
}

.ResultBlock {
    height: 40px;
    width: 40px;
    margin: 1%;
}