.blackLayout {
    background-color: #121213;
    color: #f8f8f8;
    text-align: center;
}

#GameGridContainer {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /* border: 1px solid white; */
}

#KeyboardContainer {
    width: fit-content;
    margin: 10px auto;
    height: fit-content;
    /* border: 1px solid white; */
}

.GameGridRow {
    display: flex;
    justify-content: center;
}

/* TODO Get the coloring of the boxes */
.inputBox {
    border: 3px solid rgb(79, 78, 78);
    margin: 3px;
    color: #f8f8f8; 
    background-color: #121213;
    height: 40px;
    width: 40px;
}

.letterBox {
    color: white;
    background-color: #818384;
    border-radius: 5px;
    height: 50px;
    width: 40px;
    text-align: center;
    vertical-align: 60%;
    line-height: 40px;
    margin: 3px;
    cursor: pointer;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}