<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../Styling/LandingPageStyling.css">
        <script type="module" src="../public/Monopoly.js"></script>
    </head>
    <body>
        <h1>AT Monopoly</h1>
        <hr>
        <div id="ContentContainer">
            <div id="PlayAndSettingsContainer">
                <span>
                    <a href="../views/MonopolyGame.html"><input class="MainPageButtons" type="button" value="Play"></a>
                </span>
                <a href="#">
                    <input class="MainPageButtons" type="button" value="Custom" 
                    title="Use your own set of words">
                </a>
            </div>
        </div>
    </body>
</html>