<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styling/MonopolyStyling.css">

    </head>
    <body>
        <div id="GameContainer">
            <div id="TurnCount">
                <span>Turn #</span>
            </div>
            <div id="GameBoard">

            </div>
        </div>

        <!-- Popup for when the player draws community or chance cards -->
        <div id="WildCardPopupContainer">
            <h3 id="WildCardHeader"><!-- Generate a title (Community or Chance) --></h3>
            <p id="WildCardTextArea"><!-- Generate the text according 
                to the wildcard's text property--></p>
            <input id="WildCardConfirmation" type="button" value="Confirm">
        </div>
    </body>
</html>